body{
  background-color: #000;
}
.nicescroll-cursors {
    width: 6px !important;
    
}
div#ascrail2000 {
       z-index: 99999999999 !important;
}

/*************************************
Start navbar
**************************************/
.navbar {
    justify-content: center;
    align-items: center;
    display: flex;
  height: 80px;
  background-color: transparent;
  border: none;
  color: white;
  z-index: 100;
  transition: background-color 1s ease 0s;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: orange;
    background-color: transparent;
}
.navbar-brand>img {
    display: block;
    width: 50%;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default {
}

   
.navbar-nav {}
    
li {}
      
a {}
        color: white;
        margin: 10px 5px 5px 5px;
        
      }
       a:hover, > a:active, > a:focus {
        color: #000;
        border: 1px solid #C57ED3;
      }
       a:visited {
        color: #000;
        text-decoration: none;
           
      }

     

.active {}

       a, > a:hover, > a:focus {
        background-color: transparent;
        color: #fff;
      }


  .navbar-toggle {
    border-color: #C57ED3;

      &:hover, &:focus {
        background-color: #ffff;
      }
}


      .icon-bar {
        color: #C57ED3;
        background-color: #C57ED3;

      }
  

  .navbar-collapse.collapse.in ul {
    background-color: #000;
  }
    
/* Solid class attached on scroll past first section */

.navbar.solid {
  background-color: #000;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;
  justify-content: center;
    align-items: center;
    display: flex;   
}

    .navbar-brand {
      color: #C57ED3;
      transition: color 1s ease 0s;
        padding-top: 0px;
    }

.navbar-nav {}

li {}

          a {
            color: #fff;
            transition: color 1s ease 0s;
          }

/*************************************
end navbar
**************************************/

/*************************************
Start slider
**************************************/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
    overflow:hidden;
}
.item.active img {
    transition: transform 5000ms linear 0s;
    /* This should be based on your carousel setting. For bs, it should be 5second*/
    transform: scale(1.05, 1.05);
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
.overlay{
    width: 100%;
    height: 100vh;
    z-index: 3;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.6
}
.carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 15%;
    z-index: 99999999;
    text-align: center;
}
.carousel {
    position: relative;
    height: 100vh;
}
/*************************************
end slider
**************************************/

/*************************************
Start About us
**************************************/
.bg-danger {
    background-color: #f2f2f2;
    background-image: url(../img/images.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
        padding-bottom: 5%;
    padding-top: 5%;
    
}
.hei-sec{
    
}
.form-group {
    margin-bottom: 0px;
}
.marg{
    margin-top: -5%;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    text-align: center;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 35%;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.mar-search{
    margin-bottom: 50px;
     margin-top: 50px;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    width: 75%;
}

/*************************************
end About us
**************************************/

/*************************************
start dawnload
**************************************/
.head{
    color: #fff;
    margin:0px;
    padding-top: 50px;
}
.dawnload{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../img/bg-2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
      height: 400px;  
    display: flex;
    background-position: center center;
}

.dow{
    position: absolute;
     margin: 8% 30%;
    color: #fff;   
}
.dis{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.mar{
    margin-top: 7%;
    color: #fff;
}
/*************************************
end dawnload
**************************************/

/*************************************
start services
**************************************/
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
}
.location_section h1, .location_section h3, .service_section h1, .service_section h3, .services h1, .services h4, .services h3 {
  color: #000;
    
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-bottom: 3%;
}
.services{
    background-color: #f2f2f2;
 
}

.services .pager li > a, .services .pager li > span {
  border-radius: 0;
  color: #000;
}
.pager li > a:focus, .pager li > a:hover {
  background: #dfa466 none repeat scroll 0 0;
  color: #fff;
}
.marg-img{
    margin-bottom: 2%;
     margin-top: 2%;
}
.p-ser{
    color: #888;
    line-height: 2
}
/*************************************
end services
**************************************/

/*************************************
start contact-us
**************************************/
.parallax-section{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(../img/modern-media-center.jpg);
    background-attachment: fixed;
    color: #fff;
}
.contact-info .fa {
  padding-right: 5px;
}
.p-contact{
    line-height: 2;
    color: #fff;
}
#contact .form-control {
  border: none;
  border-bottom: 2px solid #f0f0f0;
  border-radius: 0px;
  box-shadow: none;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

#contact .form-control:focus {
  border-bottom-color: #999999;
}

#contact input {
  height: 55px;
}

#contact button#submit {
  background: #2b2b2b;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  height: 50px;
  margin-top: 24px;
}

#contact button#submit:hover {
  background: #f88f19;
  color: #ffffff;
}


/*************************************
end contact-us
**************************************/

/*************************************
start footer
**************************************/
.full {
    width: 100%;	
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background: #000;
	height: auto;
	color: #fff;
	position: relative;
	width: 100%;
        padding: 20px 0 20px 0;

}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}

.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}








   .share {
    position: fixed;
    bottom: 0%;
    right: 5%;
    transform: translate(-50%,-50%) rotate(45deg);
    width: 60px;
    height: 60px;
    z-index: 99999;
}
.share ul {
    position:relative;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}
.share ul li {
    position:absolute;
    top:0;
    left:0;
    list-style:none;
    width:100%;
    height:100%;
    border-radius:10px;
    background:#fff;
    transition:0.5s;
    overflow:hidden;
}
.share ul.active li {
    transform:scale(0.95);
}
.share ul li a {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    line-height:80px;
    text-align:center;
    font-size:30px;
    color:orange;
    transition:.5s;
}
.share ul li a .fa {
    transform:rotate(-45deg);
}
.share ul li a:hover {
    color:#fff;
    background-color: orange;
}
.share ul.active li:nth-child(1){
    top:-100%;
    left:-100%;
    transition-delay:0s;
}
.share ul.active li:nth-child(2){
    top:-100%;
    left:0;
    transition-delay:0.2s;
}
.share ul.active li:nth-child(3) {
    top: 0%;
    left: -100%;
    transition-delay: 0.4s;
}

.toggle {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:orange;
    transform:scale(0.95);
    overflow:hidden;
    border-radius:10px;
    z-index:1;
    cursor:pointer;
}
.toggle:before {
    content: '\f1e0';
    font-family: fontAwesome;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 38%;
    height: 45%;
    text-align: center;
    line-height: 80px;
    color: #fff;
    font-size: 30px;
    transform: rotate(-45deg);
}
.toggle.active:before {
    content:'\f00d';
}
    
    
    
/*************************************
end footer
**************************************/
@media(max-width:1200px){
   .carousel {
    position: relative;
    height: 100%;
}
}
@media(max-width:991px){
    .counter .single-counter {
    float: left;
    width: 49%;
    padding: 28px 15px 28px;
}
        .marg{
    margin-top: 0%;
}

        .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 50% !important;

}
       .carousel {
    position: relative;
    height: 100%;
}
}
@media(max-width:785px){
    .dow{
        text-align: center;
    }
    .cont-us{
        text-align: center;
    }
    .navbar {
   
    display: inline-block;
        height: 65px;

}
.navbar.solid {
    display: inline-block;   
    height: 65px;
}
        .navbar-nav {
    margin: 0px -15px;
}
 .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
right: 50%;
} 
    .marg{
    margin-top: 0%;
}
.carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 3%;
    z-index: 99999999;
    text-align: center;
    font-size: 12px
}
    .carousel-caption h1 {
   font-size: 12px
        
}
    .sm-text{
        text-align: center;
    }  
    .parallax-section{
        text-align: center;
    }
   .share {
    position: fixed;
    bottom: 0%;
    right: 5%;
    transform: translate(-50%,-50%) rotate(45deg);
    width: 60px;
    height: 60px;
    z-index: 99999;
} 
    .carousel {
    position: relative;
    height: 100%;
}
}
